{{template "base" .}}

{{define "content"}}

<div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the about page</h1>
                <p>This is some text</p>
                {{/*   Use function index , looking into data pass into the template called stringmap
                and looking for the index test */}}
                <p>This came from the template: {{index .StringMap "test"}}</p>

                <p>
                    {{if ne (index .StringMap "remote_ip") ""}}
                        This is the remote ip: {{index .StringMap "remote_ip"}}
                    {{else}}
                        I don't know your ip. Visit <a href="/">Homepage</a> to find out.
                    {{end}}
                </p>
            </div>
        </div>
    </div>
{{end}}